<div class="div">
  <div class="abc">
    <input type="text" class="ins">
    <span class="name">Top ID</span>
  </div>

</div>

<div class="div">
  <div class="abc">
    <div class="az">
      <ngx-select-dropdown [config]="config" class="pp"  [options]="stringOptions" 
      [(ngModel)]="dataModel" [multiple]="false" ></ngx-select-dropdown>
      <span class="name">Type <span class="s">*</span> </span>
      <mat-icon class="cross" (click)="reset()">close</mat-icon>
    </div>
   
  </div>
  


</div>